@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// colors
$color-bg: #FFDEAD;

$color-brown-100: #7A6456;
$color-brown-200: #563E37;
$color-brown-300: #30251D;

$color-blue-100: #7BC5C5;
$color-blue-200: #58B7BD;
$color-blue-300: #2DA3A5;

$color-orange-100: #FEAF3C;
$color-orange-200: #FCA03A;
$color-orange-300: #F8833E;

// typography
$font-family: "Roboto", sans-serif;

$line-height: 1.5;

$font-size-sm: 16px;
$font-size-lg: 32px;
$font-size-xl: 46px;

$font-weight-normal: 400;
$font-weight-bold: 700;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size-sm;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
    background: url("../img/bgPattern.jpg");
    background-size: 90%;
    background-repeat: repeat;
    backdrop-filter: blur(4px);
    padding: 20px;
}

ul, ol {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $color-bg;
    border-radius: 8px;
    overflow-x: auto;

    p {
        font-size: $font-size-sm;
        color: $color-brown-200;
        line-height: $line-height;
    }

    .main, .mode, .auto, .handle, .table-holder, .table-holder-hand {
        flex-direction: column;
        justify-content: center;
    }
    

    .main {
        display: flex;
        align-items: center;
        gap: 25px;
        padding-block: 25px;
        padding-inline: 15px;

        h2 {
            font-size: $font-size-lg;
            font-weight: $font-weight-bold;
            color: $color-brown-300;
        }

        .card-holder {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                img {
                    width: 125px;
                    border-radius: 6px;
                    box-shadow: 0px 0px 8px $color-brown-100;
                }

                button {
                    width: 125px;
                    height: 30px;
                    border-radius: 6px;
                    box-shadow: 0px 0px 8px $color-brown-100;
                    background-color: $color-orange-100;
                    text-transform: uppercase;
                    font-size: $font-size-sm;
                    font-weight: $font-weight-bold;
                    color: $color-brown-200;
                    transition: all .5s;
                    cursor: pointer;

                    &:hover,
                    &:active {
                        background-color: $color-orange-300;
                        color: $color-brown-300;
                    }
                }
            }

            .card:last-of-type {
                button {
                    background-color: $color-blue-100;

                    &:hover,
                    &:active {
                        background-color: $color-blue-300;
                        color: $color-brown-300;
                    }
                }
            }
        }
    }

    .mode,
    .auto, 
    .table-holder, 
    .table-holder-hand {
        display: none;
    }

    .arrow-back {
        display: inline-block;
        width: 24px;
        align-self: flex-start;
        transition: all .5s;
        cursor: pointer;

        &:hover {
            filter: drop-shadow(0 0 4px $color-orange-300);
        }
    }

    .mode {
        align-items: center;
        gap: 10px;
        padding-block: 25px;
        padding-inline: 15px;

        h2 {
            font-size: $font-size-lg;
            font-weight: $font-weight-bold;
            color: $color-brown-300;
        }

        .accent-orange {
            font-weight: $font-weight-bold;
            color: $color-orange-300;
        }

        .accent-blue {
            font-weight: $font-weight-bold;
            color: $color-blue-300;
        }

        div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            button {
                width: 145px;
                height: 30px;
                border-radius: 6px;
                box-shadow: 0px 0px 8px $color-brown-100;
                text-transform: uppercase;
                font-size: calc($font-size-sm / 1.2);
                font-weight: $font-weight-bold;
                color: $color-brown-200;
                transition: all .5s;
                cursor: pointer;

                &:hover,
                &:active {
                    color: $color-brown-300;
                }
            }

            #automatic {
                background-color: $color-orange-100;

                &:hover,
                &:active {
                    background-color: $color-orange-300;
                }
            }

            #handle {
                background-color: $color-blue-100;

                &:hover,
                &:active {
                    background-color: $color-blue-300;
                }
            }
        }
    }

    .auto {
        align-items: center;
        gap: 10px;
        padding-block: 25px;
        padding-inline: 15px;

        label, output {
            font-size: $font-size-sm;
            color: $color-brown-200;
            line-height: $line-height;
        }

        div {
            input {
                -webkit-appearance: none;
                   -moz-appearance: none;
                        appearance: none;
                width: 70vw;
                height: 8px;
                cursor: pointer;
                background-color: $color-blue-100;
                border-radius: 6px;
                outline: none;
            }

            input::-webkit-slider-thumb {
                -webkit-appearance: none;
                   -moz-appearance: none;
                        appearance: none;
                height: 20px;
                width: 20px;
                background: $color-orange-200;
                border-radius: 50%;
                outline: none;
                transition: all .5s;
            }

            input::-webkit-slider-thumb:hover,
            input::-webkit-slider-thumb:active {
                box-shadow: 0 0 0 2px $color-orange-300;
            }
        }

        #petsName {
            display: block;
            height: 100px;
            width: calc(100% - 30px);
            margin-inline: auto;
            margin-block: 20px;
            padding: 10px;
            border-radius: 6px;
            resize: none;
            cursor: text;

            &:focus {
                outline: 1px solid $color-orange-300;
            }
        }

        button {
            width: 250px;
            height: 30px;
            border-radius: 6px;
            box-shadow: 0px 0px 8px $color-brown-100;
            background-color: $color-orange-100;
            text-transform: uppercase;
            font-size: $font-size-sm;
            font-weight: $font-weight-bold;
            color: $color-brown-200;
            transition: all .5s;
            cursor: pointer;

            &:hover,
            &:active {
                background-color: $color-orange-300;
                color: $color-brown-300;
            }
        }
    }

    .table-holder {
        align-items: center;
        gap: 10px;
        padding-block: 25px;
        padding-inline: 15px;

        button {
            width: 250px;
            height: 30px;
            border-radius: 6px;
            box-shadow: 0px 0px 8px $color-brown-100;
            background-color: $color-orange-100;
            text-transform: uppercase;
            font-size: $font-size-sm;
            font-weight: $font-weight-bold;
            color: $color-brown-200;
            transition: all .5s;
            cursor: pointer;

            &:hover,
            &:active {
                background-color: $color-orange-300;
                color: $color-brown-300;
            }
        }
    }

    .table-holder-hand {
        align-items: center;
        gap: 10px;
        padding-block: 25px;
        padding-inline: 15px;

        .table-container-handle {
            table {
                tr {
                    height: 40px;
                    box-shadow: inset 0 10px 30px 5px $color-brown-200;
                    border-radius: 6px;

                    td {
                        padding: 6px;
                    }
                }
            }
        }
        
        .btns-holder {
            --green-light: #28a745;
            --green-dark: #208838;
            --red-light: #dc3545;
            --red-dark: #a12734;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            button {
                width: 100%;
                height: 35px;
                margin-bottom: 10px;
                border-radius: 6px;
                box-shadow: 0px 0px 8px $color-brown-100;
                font-size: calc($font-size-sm / 1.2);
                font-weight: $font-weight-bold;
                transition: all .5s;
                cursor: pointer;
                letter-spacing: 1px;
            }

            div > button:first-child {
                background-color: var(--green-light);
                color: white;

                &:hover,
                &:active {
                    background-color: var(--green-dark);
                }
            }

            div > button:last-child {
                background-color: var(--red-light);
                color: white;

                &:hover,
                &:active {
                    background-color: var(--red-dark);
                }
            }

            div:last-of-type {
                grid-column: 1/-1;
                width: 55vw;
                justify-self: center;

                button {
                    width: 100%;
                    text-wrap: nowrap;
                    background-color: $color-blue-200;

                    &:hover,
                    &:active {
                        background-color: $color-blue-300;
                    }
                }
            }
        }
    }

    #startAgainBtn,
    #startAgainHandBtn {
        display: none;
    }

    .table-container,
    .table-container-handle {
        display: grid;
        justify-items: center;
        width: 100%;
        overflow-x: auto;
    }
    
    .table-container > table,
    .table-container-handle > table {
        width: 80vw;
        background-color: $color-brown-100;
        padding: 8px;
        border-radius: 6px;
        color: white;

        input {
            width: 50px;
            padding: 5px;
            border-radius: 4px;

            &:focus {
                outline: 2px solid $color-orange-300;
            }
        }
    }
    
    .table-container > table > tr,
    .table-container-handle > table > tr {
        height: 40px;
        box-shadow: inset 0 10px 30px 5px $color-brown-200;
        border-radius: 6px;
    } 
    
    .table-container > table > tr > td,
    .table-container-handle > table > tr > td {
        padding: 6px;
    }
    
    .table-container > table tr:nth-child(1) td:nth-child(1),
    .table-container-handle > table tr:nth-child(1) td:nth-child(1) {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 50px;
    }
    
    .table-container > table tr:nth-child(1) td,
    .table-container-handle > table tr:nth-child(1) td {
        width: 40px;
    }
    
    .table-container > table tr:nth-child(1) td:nth-child(1)::before,
    .table-container-handle > table tr:nth-child(1) td:nth-child(1)::before {
        position: absolute;
        top: 50%;
        left: 8px;
        width: 100%;
        height: 1px;
        content: "";
        background-color: white;
        transform: rotate(6deg) translateY(-50%);
    }
    
    .table-container > table tr:nth-child(1) td:nth-child(1) span:nth-child(1),
    .table-container-handle > table tr:nth-child(1) td:nth-child(1) span:nth-child(1) {
        text-align: right;
    
    }
    
    .table-container > table tr:nth-child(1) td:nth-child(1) span:nth-child(2),
    .table-container-handle > table tr:nth-child(1) td:nth-child(1) span:nth-child(2) {
        text-align: left;
    }
    
    .table-container > table tr td, 
    .table-container-handle > table tr td {
        text-align: center;
    }
    
    .table-container > table tr td:nth-child(1),
    .table-container-handle > table tr td:nth-child(1) {
        text-align: start;
    }
}

@media (min-width: 576px) {
    body {
        padding-inline: 40px;
        padding-block: 20px;
    }

    p {
        text-wrap: pretty;
    }

    .container {

        .main {
            padding-inline: 40px;

            .card-holder {
                gap: 50px;

                .card {
                    gap: 20px;

                    img,
                    button {
                        width: 175px;
                    }
                }
            }
        }

        .mode {
            padding-inline: 40px;
            gap: 15px;

            p:first-of-type {
                align-self: flex-start;
            }

            div {
                gap: 40px;

                button {
                    width: 175px;
                }
            }
        }

        .auto {
            padding-inline: 40px;
            gap: 15px;
        }

        .table-holder {
            padding-inline: 40px;
            gap: 15px;

            h2 {
                font-size: $font-size-lg;
                font-weight: $font-weight-bold;
                color: $color-brown-300;
            }
        }

        .table-holder-hand {
            padding-inline: 40px;
            gap: 15px;
        }

        .table-container > table,
        .table-container-handle > table {
            width: 70vw;

            input {
                width: 75px;
            }
        }
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    
        p {
            font-size: calc($font-size-sm * 1.2);
        }

        h2 {
            font-size: $font-size-xl;
        }
    
        .auto {
    
            label, output {
                font-size: calc($font-size-sm * 1.2);
            }
    
            div {
                input {
                    width: 400px;
                }
            }
        }

        .table-holder-hand {
            
            .btns-holder {
                gap: 15px;

                div {
                    display: flex;
                    flex-direction: column;
                }
    
                button {
                    width: 250px;
                }
    
                div:last-of-type {
                    width: 300px;
                }
            }
        }
        
        .table-container > table,
        .table-container-handle > table {
            width: 600px;
    
            input {
                width: 100px;
            }
        }
        
        .table-container > table tr:nth-child(1) td:nth-child(1),
        .table-container-handle > table tr:nth-child(1) td:nth-child(1) {
            width: 90px;
        }
        
        .table-container > table tr:nth-child(1) td,
        .table-container-handle > table tr:nth-child(1) td {
            width: 100px;
        }
    }
}