html {
  font-size: 18px;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  margin: 0;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
}

.background::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("./img/paw-pet-seamless-pattern-dog-or-cat-footprint-texture-foot-track-wallpaper-cute-colorful-background-with-animals-footprints-seamless-pattern-footprint-color-background-repeat-vector.jpg");
  background-size: 60vw;
  filter: blur(2px);
}

.container {
  min-width: 700px;
  max-width: calc(100% - 30px);;
  margin: 0 auto;
  background: blanchedalmond;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
}

.main, .auto, .handle, .table-holder, .table-holder-hand {
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}

.main {
  display: flex;
  align-items: center;
}

.mode {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
}

.auto, .table-holder {
  display: none;
}

.mode > h2 {
  text-align: center;
}

.mode > div > button {
  width: 49%;
}

.back-arrow {
  width: 32px;
  margin: 0;
  align-self: flex-end;
}

.back-arrow:hover {
  filter: drop-shadow(0 0 5px rgb(0, 195, 255));
  cursor: pointer;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 181, 92);
  margin-top: 10px;
}

button:hover {
  background-color: rgb(118, 202, 228);
  transition: 0.5s;
}

img {
  width: 50%;
  margin: 20px 0;
  border-radius: 8px;
}

p > .acent {
  font-weight: bold;
}
p > .special {
  font-style: oblique;
}

p {
  margin: 0 0 15px 0;
}

#juryCount,
#petsCount,
#petsName {
  margin: 20px 0;
  cursor: pointer;
}

#petsName {
  display: block;
  cursor: text;
  width: calc(100% - 20px);
  height: 100px;
  border: 0;
  border-radius: 8px;
  padding: 10px;
  resize: none;
}


.auto > div > input {
  width: 300px;
}

#autoAgree, #reloadTableBtn, #startAgainBtn {
  width: 70%;
  align-self: center;
}

#startAgainBtn {
  display: none;
}

.table-holder > h2, .table-holder > p,
.table-holder-hand > h2, .table-holder-hand > p {
  text-align: center;
}


.table-container > table input,
.table-holder-hand > table input {
  padding: 5px;
  border: none;
  width: 120px;
  text-align: center;
  background-color: blanchedalmond;
  border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

input:focus {
  outline-color:rgb(0, 195, 255);
}

.table-container {
  display: grid;
  justify-items: center;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
}

.table-container > table {
  background-color: rgb(137, 111, 94);
  padding: 10px;
  border-radius: 8px;
  color: white;
  width: max-content;
  margin: 20px 0;
}

.table-container > table tr {
  height: 40px;
  box-shadow: inset 0 10px 30px 5px rgba(255, 237, 205, 0.2);
  border-radius: 8px;
} 

.table-container > table tr td {
  padding: 5px 10px;
}

.table-container > table tr:nth-child(1) td:nth-child(1) {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 100px;
}

.table-container > table tr:nth-child(1) td {
  width: 120px;
}

.table-container > table tr:nth-child(1) td:nth-child(1)::before {
  position: absolute;
  top: 50%;
  left: 8px;
  width: 100%;
  height: 1px;
  content: "";
  background-color: rgb(255, 255, 255);
  transform: rotate(6deg) translateY(-50%);
}

.table-container > table tr:nth-child(1) td:nth-child(1) span:nth-child(1) {
  text-align: right;

}

.table-container > table tr:nth-child(1) td:nth-child(1) span:nth-child(2) {
  text-align: left;

}

.table-container > table tr td {
  text-align: center;
}

.table-container > table tr td:nth-child(1) {
  text-align: start;
}